/* CSS for proposal 2 */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

h1 {
    color: #555;
    text-align: center;
}